<div id="user_details">

<p>
  <b>Name</b>: <%= @user.proper_name %>
</p>

<p>
  <b>Role</b>: <%= @user.role.capitalize %>
</p>

<p>
  <b>Phone</b>: <%= @user.phone %>
</p>

<p>
  <b>Email</b>: <%= @user.email %>
</p>

<p>
  <b>Username</b>: <%= @user.username %>
</p>

</div>