<%= simple_form_for @item_price, html: { :class => 'form-horizontal' }, remote: true do |f| %>
  <%= f.input :price, label: "Price", input_html: {class: "avg"} %>
  <%= f.input :category, collection: ItemPrice::CATEGORIES, label: "Category", input_html: {class: "avg"} %>

  <!-- Note in this case that can't use @town; use params[:town_id] -->
  <%= f.input :item_id, as: :hidden, input_html: { value: params[:item_id] } %>
  <%= f.input :start_date, as: :hidden, input_html: { value: Date.current } %>

  <p>&nbsp;</p>
  <div class="form-actions">
    <%= f.submit nil, class: 'button tiny radius' %>
    <%= link_to 'Cancel', items_path(params[:item_id]), class: 'button tiny radius alert' %>
  </div>
<% end %>