
<% unless @previous_orders.nil? || @previous_orders.empty? %>

  <h5>Previous Orders</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>School</th>
        <th>Items</th>
        <th>Date Placed</th>
        <th>Date Shipped</th>
      </tr>
    </thead>
    <tbody>
      <% @previous_orders.each do |order| %>
        <tr>
          <td><%= order.school.name %></td>
          <td>
            <ul>
              <% order.order_items.each do |item| %>
                <li><%= link_to item.item.name, item_path(item.item) %>, <%= item.quantity %></li>
              <% end %>
            </ul>
          </td>
          <td><%= order.date %></td>
          <td><%= order.order_items.first.shipped_on %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>