<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "item_details" %>
  </div>
  <div class="small-5 columns">

      <%= render :partial => "partials/cart" unless current_user.nil? or ! current_user.role? :customer %>

  	<% if can? :edit, ItemPrice %>
    	<%= render :partial => "price_history" unless @price_history.empty? %>
    <% end %>

    <%= render :partial => "similar_items" unless @similar_items.empty? %>
    <% if can? :create, Purchase %>
      <%= link_to("New Purchase", new_purchase_path(item_id: @item.id), class: 'button tiny radius', id: "new_purchase_link", remote: true) %>
    <% end %>
  </div>
</div>


<%= link_to("Add To Cart", add_to_cart_path(@item.id), remote: true, class: 'button radius') %>
<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %>


