<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "item_details" %>
  </div>
  <div class="small-5 columns">
    <%= render :partial => "price_history" unless @price_history.empty?%>
    <%= render :partial => "similar_items" unless @similar_items.empty?%>
    <%= link_to("New Purchase", new_purchase_path(item_id: @item.id), class: 'button tiny radius', id: "new_purchase_link", remote: true) %>
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %>

<%= link_to("Add To Cart", add_to_cart_path(@item.id), class: 'button tiny radius') %>

